{% extends 'layout.html' %}

{% block body %}
  <h1>Add Project Manager</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.first_name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.last_name, class_="form-control") }}
    </div>
          <div class="form-group">
      {{ render_field(form.department, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}