{% extends 'layout.html' %}

{% block body %}
  <h1>Add Project</h1>
      {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.start, class_="form-control", placeholder="YYYY-MM-DD", type="text") }}
    </div>
      <div class="form-group">
      {{ render_field(form.end, class_="form-control", placeholder="YYYY-MM-DD", type="text") }}
    </div>
      <div class="form-group">
      {{ render_field(form.pm_id, class = "form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}