{% extends 'layout.html' %}

{% block body %}
  <h1>{{project_manager.first_name}} {{project_manager.last_name}}'s Dashboard</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for project in projects %}
      <tr>
        <td>{{project.id}}</td>
        <td>{{project.name}}</td>
        <td>{{project.end}}</td>
        <td>{{project.start}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}