{% extends 'layout.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Project Managers</h1>
    {% if project_managers|length < 1 %}
    <h4 style="text-align: center">There are no manageres. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
        </tr>
        {% for pm in project_managers %}
            <tr>
                <td>{{ pm.last_name }}</td>
                <td>{{ pm.first_name }}</td>
                <td>{{ pm.department }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="first_name" id="first_name">
            <input type="text" name="last_name" id="last_name">
            <input type="text" name="department" id="department">
            <input type="submit" value="Add Project Manager">
        </form>
    </div>
</div>
{% endblock %}