{% extends 'layout.html' %}

{% block body %}
  <h1>Project Managers</h1>
    {% if project_managers|length < 1 %}
    <h4>There are no managers</h4>
    {% else %}

    <ul class="list-group">
    {% for project_manager in project_managers %}
      <li class="list-group-item"><a href="dashboard/{{ project_manager.id }}">{{project_manager.first_name}} {{project_manager.last_name}}</a></li>
    {% endfor %}
  </ul>
    {% endif %}
{% endblock %}